/*shared styles*/

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(bakcground/polaroid_@2X.png);
}

header {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
}

.logo {
    display: inline-block;
    width: 200px;
    height: 100%;
    line-height: 85px;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bolder;
    position: relative;
    left: 287px;
    background-color: #4aaaa5;
}

ul {
    margin: 0;
}

nav {
    display: inline-block;
    width: 400px;
    height: 100%;
    position: relative;
    left: 775px;
}

li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    
}

a:link,
a:visited {
    text-decoration: none;
    color: #777777;
    transition: color 0.1s, font-weight 0.1s, border-bottom 0.1s;
}

a:hover,
a:active {
    color: #4aaaa5;
    font-weight: bolder;
    margin-bottom: 5px;
    border-bottom: 2px solid #4aaaa5;
}

li:nth-child(2)::before {
    content: "|";
    color: lightgrey;
    margin-right: 20px;
}

li:nth-child(2)::after {
    content: "|";
    color: lightgrey;
    margin-left: 20px;
}

.active {
    color: #4aaaa5;
    font-weight: bolder;
}

.main {
    box-sizing: border-box;
    width: 960px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 30px 30px;
    box-sizing: border-box;
    color: #777777;
    border: 1px solid #dddddd;
}

h1 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

hr {
    margin-bottom: 15px;
}

.contain-all {
    min-height: calc(100vh-50px);
}

footer {
    box-sizing: border-box;
    clear: both;
    overflow: hidden;
    background-color:#666666;
    height: 50px;
    width: 100%;;
    text-align: center;
    position: relative;
    bottom: -93px;
    padding-top: 15px;
    border-top: 4px solid #4aaaa5;
    z-index: 200;
}

/* about me page styles */

#me {
    margin: 0 30px 10px 0;
    float: left;
    height: 200px;
    width: 200px;
}

/* contact page styles */

fieldset {
    border: none;
}

#name, #email, #message {
    margin-bottom: 10px;
    width: 100%;
}

#message {
    height: 200px;
}

input[type=text], input[type=email] {
    padding-left: 5px;
}

#submit {
    color: #ffffff;
    background-color: #4aaaa5;
    border: none;
    height: 50px;
    width: 100px;
    font-size: 20px;

}

/* portfolio page styles */

.main-portfolio {
    height: 850px;
    margin-bottom: 50px;
}

.app-grid {
    margin: 0;
    width: 500px;
    height: 720px;
}

.app-thumbnail {
    height: 200px;
    width: 200px;
    margin: 20px;
    float: left;
}

.overlay {
    box-sizing: border-box;
    position: relative;
    opacity: 0;
    height: 200px;
    width: 200px;
    color: red;
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
    z-index: 100;
    transition: background-color 0.5s;
}

.app-img {
    position: relative;
    top: -200px;;
}

.overlay:hover {
    opacity: 0.5;
    background-color: white;
    z-index: 100;
    cursor: pointer;
}

.overlay:hover .app-img {
    opacity: 0.1;
}

.app-name {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: teal;
    text-align: center;
    color: white;
    box-sizing: border-box;
    padding-top: 15px;
    top: -260px;
}